<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style type="text/css">
.style1 {
font-family: Arial;
font-size: 11.0pt;
color: #000000;
}
.style2 {
font-family: Arial;
font-size: 9.0pt;
color: #7C7C7B;
}
</style>
<body leftmargin="20" topmargin="20" marginwidth="1" marginheight="1">
	<table width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr> 
			<td>Dear ${name}</td>
		</tr>
		<tr> 
			<td> </td>
		</tr>
		<tr> 
			<td width="720">
				<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
					<tr>
						<td align="left" width="720">
							<table width="100%" border="0" cellspacing="5" cellpadding="0" leftmargin="20">
								<tr>
									<td width="720" align="left" class="style1">Thank you for registering your business with Dealocx! 
									<br/>The following are your login details-
									</td>
								</tr>
								<tr>
									<td width="720" align="left" class="style1">User ID: ${emailAddress}<br/>
										Password: ${password}
									</td>
								</tr>
								<tr>
									<td width="720" align="left" class="style1">
									You can use your Venturebean CRM account to create your deals, choose type of promotion, follow real time stats of your consumers, approval of offline bills, reward your consumers and much more.
									</td>
								</tr>
								<tr>
									<td width="720" align="left" class="style1">
									Get set to super-charge your business!

									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr> 
			<td> </td>
		</tr>
		<tr> 
			<td>Best Regards<br/> Team VentureBean </td>
		</tr>
		<tr> 
			<td>P.S. For any queries, mail us on support@venturebean.com or get in touch on +91 2424242424</td>
		</tr>
	</table>
</body>
</html>