/* Add here all your css styles (customizations) */

.background-transparent {
	background-color: transparent;
}

.circle { 
	width:111px; 
	height:83px; 
	padding: 23px 24px 0px 28px;
	color:#FFFFFF; 
	font-weight:bold;
	background-image:url(../img/sr_no_background.png); 
	background-repeat:no-repeat;
}

.eye {
	font-size: 30px;
    height: 83px;
    padding: 24px 24px 0px 24px;
}

.color-light-green{color:#6BA14F; padding-right:5px;}

.sky-form footer {
	background: #e8f4f9 none repeat scroll 0% 0%;
}

.team-scorecard {
	background-color: #e8f4f9;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-bottom: 0px;
	border: 2px solid #A3DADF;
}

.bg-none {
	background-color: none;
}

/* .nav-tabs>li.active>a,.nav-tabs>li.active>a:hover {
	background-color: #e8f4f9
} */

.btn-white {
	background-color: #9e9e9e
}

.btn-yellow {
	background-color: #fbc02d;
	color: #fff
}

.active-new {
	border: 1px solid #000
}

.nav>li>a:hover,.nav>li {
	background: none
}

.btn-red {
	color: #fff;
	background-color: #f44336;
}

.btn-green {
	background-color: #4caf50;
	color: #fff
}

.lable-font {
	font-size: 14px;
	padding-top: 2px;
}

.row-bg-padding {
	background-color: #81c784;
}

.row-col-padding {
	padding-top: 8px;
}

.row-h3-color {
	color: #000000
}

.row-col-fontsize {
	font-size: 30px;
}

.subrow-fontsize-bg {
	font-size: 30px;
	background-color: #a5d6a7
}

.divider {
	margin: 1%
}
.wht:hover{
color:#fff;
}
.btn-success {
	background-color :#4caf50;
}
.btn-reject {
	background-color :#DC2316; color:#fff;
}
.admin-row-sub ul li{ float:left; width:33%; word-break: break-all;}

.login-footer a{cursor:pointer; color:#777;	}
.login-footer a:hover{color:#72c02c; text-decoration:none;}